@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #cccedf;
}

.calculator {
  background-color: #242530;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  max-width: 400px;
  height: 367px;
  padding: 32px 24px;
  box-sizing: border-box;
  overflow: hidden;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px 15px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 45px;
  background-color: #404258;
  color: #fff;
  border-radius: 40px;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

button:hover {
  background-color: #7c7fa8;
}

button:active {
  background-color: #bec3ff;
}

.arithmetic-btn {
  background-color: #f49d1a;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
.arithmetic-btn:hover {
  background-color: #ffeed2;
  color: #000;
}
.arithmetic-btn:active {
  background-color: #ffffff;
}

#clear-btn {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

#equal-sign {
  background: #b2b2b2;
  color: #000;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

#equal-sign:hover {
  background: #fff;
}

#display {
  width: 100%;
  height: 70px;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
  text-align: left;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: #3a3f77;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


