@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #cccedf;
}

.calculator {
  background-color: #242530;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  max-width: 500px;
  padding: 32px 24px;
  box-sizing: border-box;
  overflow: hidden;
}

/* Style for all buttons */
.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px 15px;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 50px;
  background-color: #404258;
  color: #fff;
  border-radius: 40px;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: #636688;
}
button:active {
  background-color: #b4baff;
}



.arithmetic-btn {
  background-color: #f49d1a;
}
.arithmetic-btn:hover {
  background-color: #ffc671;
}
.arithmetic-btn:active {
  background-color: #ffe1b3;
}

#equal-sign {
  background: #bdbdbd;
  color: #23232e;
}

/* style for Calculator display section */
#display {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color: #3a3f77;
  color: #fff;
}
